body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.show {
  display: block;
}

.showAnimate {
  height: auto;
  overflow: auto;
  transition: 0.35s all ease;
}

.hide {
  display: none;
}

.hideAnimate {
  height: 0;
  overflow: hidden;
  transition: 0.35s all ease;
}

.inspirations {
  margin: 16px;
}

.projects-home-link {
  display: block;
  margin: 32px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.listing-container,
.shopping-cart {
  position: relative;
  margin: 0;
  padding: 0;
}

.listing-container h2 {
  text-align: center;
}

/* common properties regardless of
    fixed or absolute positioning */
.show-cart-listing {
  border: none; /* for using <button> element */
  background-color: #f1c963;
  background-color: #efef00;
  border: 1px solid black;
  text-align: center;
  padding: .25rem 1.25rem 0 .25rem;
  font-size: 2.5rem;
  width: auto; /* this works since position: fixed/absolute; collapses to content */
  border-radius: 2px;
  transition: 0.25s all ease;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
              0 2px 10px 0 rgba(0,0,0,0.12);
}

/* this is the initial class for .show-cart on page load */
.show-cart-not-fixed {
  position: absolute;
  top: 5rem; /* this value should be where we want this to be when page is first loaded */
  right: -2rem;  /* half- hidden */
}
.show-cart-not-fixed:hover {
  right: 0;
}

.show-cart-lg-screen-fixed {
  position: fixed;
  top: 1.25rem;
  right: calc(22% - 2rem);
}
.show-cart-lg-screen-fixed:hover {
  right: 22%;
}

.show-cart-md-sm-screen-fixed {
  position: fixed;
  top: 1.25rem;
  right: -2rem;
}
.show-cart-md-sm-screen-fixed:hover {
  right: 0;
}

/* this class, along with scroll-then-fix.js, will allow
    .show-cart-listing to scroll a bit, then become fixed */
.fix-show-cart {
  position: fixed;
  top: 1.25rem;
}

/* common properties for hover state regardless of
    fixed or absolute positioning */
.show-cart-listing:hover {
  cursor: pointer;
  /*right: 0;   fully expose */
  padding: .25rem .75rem 0 .75rem;
  box-shadow: inset 0 0 6px 6px rgba(235, 174, 20, 0.9);
  box-shadow: inset 0 0 6px 6px rgba(235, 174, 20, 0.9),
              0 5px 11px 0 rgba(0,0,0,0.18),
              0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 0 6px 6px rgba(255, 255, 0, 0.8),
              0 4px 8px 0 rgba(0,0,0,0.18),
              0 2px 4px 0 rgba(0,0,0,0.15);
}

.show-cart-listing:hover:active {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20),
              0 6px 20px 0 rgba(0,0,0,0.18);
}

.show-cart-listing:hover .cart-quantity-all {
  transform: translate(calc(-50% - .75rem), calc(-50% - .25rem));
}

/* this is the small circular item in the upper left-hand corner
    of .show-cart, that will contain the number of items in the
    shopping cart;
*/
.cart-quantity-all-listing {
  position: absolute;
  transform: translate(calc(-50% - .25rem), calc(-50% - .25rem));
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background-color: white;
  border: 1px solid black;
  font-size: 0.9rem;
  text-align: center;
  transition: 0.35s all ease;
}

.listing-container a {
  text-decoration: none;
  color: black;
}

.item-listing,
.item-cart {
  padding: 8px 16px 8px 16px;
  border-top: 1px solid #9e9e9e;
  /*border: 1px solid #9e9e9e;*/
}

div.item-img-container {
  /*border: 1px dashed green;*/
  float: left;
  margin: 0px 16px 8px 0;
  width: 242px;
  height: 242px;
  /*background-color: rgba(240,240,240,0.8);*/
}

img.item-img-listing {
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
}

div.item-info-listing {
  /*border: 1px solid red;*/
  /*display: inline;*/
}

div.item-info-listing h4 {
  font-size: 1.1rem;
  margin: 16px 0;
}

.item-code {
  font-size: 0.9rem;
  font-weight: bold;
}

span.sku {
  font-weight: normal;
}

.desc-text {
  transition: 0.35s all ease;
}

.desc-text ul {
  /*margin-left: 0;*/
  padding-left: 0;
  /* undecided on using below;
      without it, sometimes ul will break around image;
      with it, sometimes there may be significant vertical space
      between description text and bottom of image since clear will
      cause ul to break under image
  */
  /*clear: both;*/
}

.desc-text ul li {
  margin-left: 2rem;
}

.price {
  font-weight: bold;
  margin: 16px 0;
}

.item-listing .price {
  max-width: 500px;
}

.item-cart .price {
  max-width: 400px;
}

/* hide sale price unless .price also has class .sale */
/* it is always floated left, unlike the regular price */
.price span[title="sale price"] {
  /*border: 1px solid orange;*/
  display: none;
  float: left;
}

/* if something is on sale, show the regular price to the right in red-
    linethrough, and the sale price to the left where the regular price
    normally is
*/
.price.sale span[title="regular price"] {
  /*border: 1px solid blue;*/
  float: right;
  color: red;
  text-decoration: line-through;
}

/* when a class of .sale is included with .price, show the sale price */
.price.sale span[title="sale price"] {
  display: inline;
}

div.action-listing {
  display: inline-block;
}

.listing-container a.see-detail,
.listing-container button.add-to-cart {
  margin-bottom: 16px;
  margin-right: 16px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),
              0 4px 15px 0 rgba(0,0,0,0.15);
}

button:hover:focus:active {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20),
              0 6px 20px 0 rgba(0,0,0,0.18);
}

/* NOTE: img elements are currently within anchors for possible linking */
div.item-listing button,
div.shopping-cart button,
div.action-listing a,
div.action-cart a {
  border: none;
  /*border: 1px solid black;*/
  text-decoration: none;
  color: rgb(0,0,0);
  padding: 8px 8px;
  border-radius: 2px;
  background-color: #f1c963; /* 67% */
  background-color: #efef00;
  border: 1px solid #333;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
              0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s ease-out;
  margin: 0 12px 16px 0;
}

div.item-listing button:hover,
div.shopping-cart button:hover,
div.action-listing a:hover,
div.action-cart a:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  background-color: rgb(246, 213, 122); /* 73% */
  background-color: #ff0;
}

/* shopping cart styles */

.shopping-cart {
  /*padding: 16px;*/
  /*border-top: 2px solid rgb(0,0,0);*/
}

.shopping-cart h2 {
  text-align: center;
}

#cart-header {
  padding: 0 1rem 1rem 1rem;
}

#cart-footer {
  padding: 1rem 1rem 1rem 1rem;
}

.cart-header-footer td {
  vertical-align: bottom;
  text-align: right;
  padding: 0.25rem 0 0.25rem 0.25rem;
}

.cart-header-footer td h3 {
  font-size: 1.1rem;
}

.cart-header-footer table tr:nth-child(2) td:nth-child(2) {
  border-bottom: 1px solid gray;
}

.cart-header-footer h3 {
  display: inline-block;
  margin: 0;
}

/* this is not an issue in listing */
.shopping-cart form {
  display: inline-block;
}

.shopping-cart input.promo-code {
  border: 1px solid rgb(125,125,125);
  height: 32px;
  border-radius: 2px;
  text-align: right;
  padding: 0 4px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.shopping-cart button {
  background-color: rgb(241, 201, 99);
}

.shopping-cart button.keep-shopping,
.shopping-cart button.checkout {
  margin-bottom: 16px;
  margin-right: 16px;
}

.shopping-cart a {
  color: black;
}

.cart-header-footer form label a {
  display: inline-block;
  text-decoration: underline;
  color: #0077ee;
  color: #0066cc;
  color: #0059b3;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.cart-header-footer form label a:hover {
  color: #00aa00;
  color: #008000;
}

.item-cart {
  /*margin-top: 16px;*/
  border-top: 1px solid #9e9e9e;
}

.item-cart div.item-img-container {
  /*border: 1px dashed green;*/
  float: left;
  /*margin: 16px 16px 8px 0;*/
  margin: 0px 16px 8px 0;
  width: 90px;
  height: 90px;
  /*background-color: rgba(240,240,240,0.8);*/
}

img.item-img-cart{
  width: 100%;
  height: 100%;
}

.item-cart span.sku {
  white-space:nowrap;
}

div.item-info-cart {
  /*display: inline;*/
}

div.item-info-cart h4 {
  margin: 16px 0;
}

div.action-cart {
  /*border: 1px solid orange;*/
  position: relative;
  margin-top: 16px ;
}

div.action-cart a.see-detail {
  /*margin: 0 12px;*/
  /*margin: 0 12px 0 0;*/
}

div.action-listing input.quantity,
div.action-cart input.quantity {
  border: 1px solid rgb(125,125,125);
  border-radius: 2px;
  height: 32px;
  width: 58px;
  text-align: center;
  margin-right: 12px;
}

.cart-header-footer button.apply-promo {
  border: 1px solid #0077ee;
  color: #0059b3;
  background-color: rgb(230,230,255);
}
.cart-header-footer button.apply-promo:hover {
  background-color: rgb(240,240,255);
}

.cart-header-footer button.keep-shopping {
  border: 1px solid #333;
  color: #333;
  background-color: rgb(225,225,225);
}

.cart-header-footer button.keep-shopping:hover {
  background-color: rgb(240,240,235);
}

.cart-header-footer button.checkout {
  border: 1px solid #009900;
  color: #060;
  background-color: rgb(225,240,225);
}
.cart-header-footer button.checkout:hover {
  background-color: rgb(235,250,235);
}

div.action-cart button.update {
  border: 1px solid #333333;
  background-color: #efefef;
  color: #333333;
}

div.action-cart button.update:hover {
  background-color: #ffffff;
}

div.action-cart button.remove {
  background-color: rgb(250,220,220);
  border: 2px solid rgb(155,155,155);
  border: 1px solid rgb(225,0,0);
  color: rgb(225,0,0);
}

div.action-cart button.remove:hover {
  background-color: rgb(240,240,240);
  background-color: rgb(255,235,235);
}

div.action-cart button.see-detail {
  border: 1px solid #999;
  background-color: #333;
  color: #efefef;
}
div.action-cart button.see-detail:hover {
  background-color: #444;
  color: #fff;
}

.item-subtotal {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.shopping-cart #cart-footer {
  margin-top: 16px;
  border-top: 2px solid rgb(0,0,0);
}

footer {
  border: 1px solid rgba(51, 51, 51, 0.85);
  text-align: center;
  color: rgb(245, 245, 245);
  background-color: rgba(51, 51, 51, 0.85); /* #333 */
  min-height: 50px;
  /*line-height: 50px;*/
  margin: 0;
  padding: 0;
  clear: both;
}

footer a {
  color: rgb(245, 245, 245);
}

@media screen and (max-width:935px) {

  /* .show-cart-listing is dealt with via JavaScript
      since we have to contend with screen width
      and vertical scroll position
  */
  .show-cart-listing {
    /*right: 0;*/
    /*transform: translateX(-50%);*/
  }

@media screen and (max-width:440px) {
  /* center image container */
  div.item-img-container {
    float: none;
    margin: 0px auto 8px auto;
  }
}

@media screen and (max-width:360px) {

  /* .show-cart-listing is dealt with via JavaScript
    since we have to contend with screen width
    and vertical scroll position
*/
  .show-cart-listing:hover {
    /* fully expose */
    /*right: 0;*/
  }

  .item-listing,
  .item-cart {
    padding: 8px 12px 0px 12px;
  }

  div.item-img-container {
    width: 202px;
    height: 202px;
  }

  /* this is necessary to have the .desc-text display at the full
      width of the .item-cart on small devices;
      otherwise, the image "gets in the way" and prevents it from
      being full width;
      this makes the .desc-text break below the image;
  */
  div.item-info-cart div.desc-text {
    clear: both;
  }

  div.item-info-listing div.desc-text,
  div.item-info-cart div.desc-text {
    height: 110px;
    overflow-y: auto;
    border-top: 1px solid #f1c963;
    border-bottom: 1px solid #f1c963;
    border-top: 1px solid #0077ee;
    border-bottom: 1px solid #0077ee;
    padding: 0 0 0 0;
  }

  .shopping-cart .cart-header-footer table {
    float: right;
  }

  .shopping-cart .cart-header-footer table br {
    display: block;
  }

}