/* || General setup */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #a9a9a9;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* modal-related - below */

.modal {
  position: fixed;
  /*opacity: 1;*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /*z-index: -1;*/
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.z99 {
  z-index: 99;
}
.z100 {
  z-index: 100;
}

.modal-container {
  position: absolute;
  /*top: 2rem;*/
  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);
  background-color: rgb(255,255,255);
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 1rem 1rem 1rem;
  width: 50%;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

div.modal-container:target {
  /*opacity: 0;*/
  /*visibility: hidden;*/
  /*z-index: -1;*/
}

.modal-content h4 {
  margin: 1rem 0;
}

.modal-content p {
  margin: 0 0 1rem 0;
}

.modal-footer a {
  display: inline-block;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-size: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

/* modal-related - above */

/* not really necessary, but just to be explicit, since I will
    be hiding/showing simulated dynamic content in <main> */
main {
  margin: 0;
  padding: 0;
}

/* || typography */

h1 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

h2, h3, p, input, li {
  /*font-family: 'Open Sans', sans-serif;*/
  color: #2a2a2a;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 2px white, 2px 2px 10px black;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
}

p, li {
  font-size: 1rem;
  /*line-height: 1.5;*/
}

/* || header layout */

header {
  margin-bottom: 0.5rem;
}

#champ-stripe {
  height: 50px;
}
#champ-stripe div {
  height: 20%;
}
#champ-stripe div:first-child {
  background-color: #0077ee;
}
#champ-stripe div:nth-child(2) {
  background-color: red;
}
#champ-stripe div:nth-child(3) {
  background-color: black;
}
#champ-stripe div:nth-child(4) {
  background-color: yellow;
}
#champ-stripe div:last-child {
  background-color: #00aa00;
}

nav, article, aside, footer {
  background-color: white;
  padding: 0.75rem;
}

nav {
  position: relative;
  height: 4rem;
  background-color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

nav li {
  margin: 0 0.5rem 0 0;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
}

nav a {
  display: block;
  height: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0 0.5rem;
}

nav a:hover {
  /*background-color: rgba(225,225,225,0.75);*/
  color: #0077ee;
}

/* hamburger */
#hamburger {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-shadow: 0 2px 5px rgba(0,0,0,0.16),
                0 2px 10px rgba(0,0,0,0.12);
}
#hamburger a {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  padding: 0 0.75rem;
  font-size: 2rem;
}
#hamburger a:hover {
  text-shadow: 0 5px 11px rgba(0,0,0,0.18),
                0 4px 15px rgba(0,0,0,0.15);
}

nav form {
  align-items: center;
  padding: 0 1rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}

nav input[type="search"] {
  float: left;
  margin-right: 0;
  width: 180px;
  font-size: 1rem;
  /* get rid of default outline on focus */
  outline: none;
  /* get rid of default border */
  border: 0;
  /*background-color: #fff;*/
  border: 1px solid #9e9e9e;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0 2px 4px rgb(220, 220, 220);
  box-shadow: inset 0 2px 4px rgba(125, 125, 125, 0.25);
  padding: 0 0.5rem;
  height: 2rem;
  line-height: 2rem;
  transition: all 0.3s ease-out;
}

nav input[type="submit"] {
  margin-left: 0.1rem;
  background: #333;
  border: 0;
  border-radius: 2px;
  color: white;
}

nav button {
  height: 2rem;
  font-size: 1rem;
  margin-left: 0rem;
  background: #333;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
}

.show-cart-main {
  text-align: center;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: #333;
  font-size: 1.5rem;
  color: white;
  padding: .25rem .75rem 0 .75rem;
  transition: 0.25s all ease;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
              0 2px 10px 0 rgba(0,0,0,0.12);
}

.show-cart-main:hover {
  cursor: pointer;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),
              0 4px 15px 0 rgba(0,0,0,0.15);
}

/* meant for button physically up re: material design; */
.show-cart-main:hover:active {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20),
              0 6px 20px 0 rgba(0,0,0,0.18);
}

/* this is the small circular item in the upper left-hand corner
    of .show-cart, that will contain the number of items in the
    shopping cart;
*/
.cart-quantity-all-main {
  position: absolute;
  transform: translate(calc(-50% - .75rem), calc(-50% - .25rem));
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background-color: white;
  border: 1px solid black;
  font-size: 0.9rem;
  text-align: center;
  transition: 0.5s all ease;
  color: black;
}

/* || main layout */

main {
  /*display: flex;*/
  position: relative;
}

article {
  /*flex: 4;*/
  /* ?? removing float: left; decreases space above "Product Listing" */
  float: left;
  width: 78%;
  padding: 0;
}

aside {
  /* ?? see first media query @ 935 */
  padding-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(22%);
  /*margin-left: 0.5rem;*/
  /*background-color: rgb(80,80,80);*/
  color: white;
  /* https://www.transparenttextures.com/asfalt-dark.html */
  background: rgb(100,100,100) url('../images/asfalt-dark.png') repeat center;
}

aside ul {
  padding-left: 1.5rem;
}

aside h2, aside li, aside a {
  color: white;
}

aside li {
  /*padding-bottom: 0.75rem;*/
  margin-bottom: 0.75rem;
}

aside li:first-child a {
  color: yellow;
  color: #efef00;
  font-weight: bold;
  text-shadow: 1px 1px 0 #c00;
  text-shadow: 1px 1px 0 #000;
}

footer {
  text-align: center;
  margin-top: 0.5rem;
  background-color: rgb(100,100,100);
  /*background-color: rgba(80,80,80,.9);*/
}

footer p {
  color: white;
}

/* || media queries */

@media screen and (max-width:935px) {
  nav ul {
    top: 50%;
    /*transform: translateY(-50%);*/
    top: 10.2rem;
    left: 0;
  }
  nav ul li {
    display: none;
  }
  nav ul a {
    padding: 0 1rem;
    background-color: rgba(0,0,0,.9);
    color: white;
    border-bottom: 1px solid white;
  }
  nav ul a:hover {
    background-color: rgba(75,75,75,1);
    color: white;
  }
  #hamburger {
    display: inline;
  }
  #hamburger:hover + ul li {
    display: block;
  }
  nav ul:hover li {
    display: block;
  }

  article {
    /* ?? commenting out float: none; returns desired margin around h2
        of Product Listing, and Shopping Cart headers;

        ?? using clear: both; resolved the issue */
    /*float: none;*/
    clear: both;
    width: 100%;
  }

  aside {
    /* ?? */
    clear: both;
    position: static;
    width: auto;
    /* ?? */
    padding-top: 0.25rem;
  }

  aside ul li {
    /*width: 20%;*/
    margin: 0 1rem 1rem 0;
    display: inline-block;
  }

}

@media screen and (max-width: 700px) {
  .modal-container {
    width: 75%;
  }
}

@media screen and (max-width:400px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width:370px) {

  h1 {
    font-size: 2rem;
  }

  #champ-stripe {
    height: 40px;
  }

  nav, article, aside, footer {
    /*padding: 1%;*/
    /*padding: 8px;*/
  }

  nav input[type="search"] {
    width: 130px;
  }

}